@{
    ViewData["Title"] = "Acerca De Nosotros";
}
<h1 align="center" class="cuadro"><b>P</b>royecto <b>A</b>cademico de <b>M</b>ediciona <b>A</b>sistencial y <b>C</b>uidado <b>E</b>specializado en <b>A</b>tencion infantil</h1>

<p class="cuadro">
    El proyecto PAMACEA es un sitio web dedicado a recopilar información relacionada a la salud para darla a conocer a los jovenes y no tan jovenes
    <br>
    Somos unos Estudiantes del Cbtis 105 creando un portal para informar a los jovenes y no tan jovenes sobre temas relacionados con la salud.
</p>


<div class="contenedor-cards">

    <div class="card">
        <h3>Integrantes</h3>
        <div class="member">Uriel Fermín Aguilar Mendoza</div>
        <div class="member">Daniel Barrón Agundis</div>
        <div class="member">Joshua Ricardo Morales Gutiérrez</div>
        <div class="member">Ricardo Emmanuel Gutiérrez Bentancourt</div>
    </div>

    <div class="card">
        <img src="/images/logocbtis.jpg" width="130" align="center">
        <p>Cbtis105</p>
        <small>Centro de Bachillerato Tecnológico Industrial y de Servicios</small>
    </div>

    <div class="card">
        <h3>Asesores</h3>
        <div class="member">Samanta Shulamith Bastiani Medina<br><small>Asesor Metodológico</small></div>
        <div class="member">Jose Ivan Contreras Lozano<br><small>Asesor Tecnológico</small></div>
    </div>

</div>