@{
    ViewData["Title"] = "Acerca De Nosotros";
}
<h1 align="center" class="cuadro"><b>P</b>royecto <b>A</b>cademico de <b>M</b>ediciona <b>A</b>sistencial y <b>C</b>uidado <b>E</b>specializado en <b>A</b>tencion infantil</h1>

<br>
<br>

<p class="cuadro">
    El proyecto PAMACEA es un sitio web dedicado a recopilar información relacionada a la salud para darla a conocer a los jovenes y no tan jovenes
    <br>
    <br>
    Somos unos Estudiantes del Cbtis 105 creando un portal para informar a los jovenes y no tan jovenes sobre temas relacionados con la salud.
</p>

<br>
<br>

<table>
    <tr>
        <th class="cuadro">
            <h3>Integrantes</h3>
            <img src="" name="uriel" align="left">
            <label>Uriel Fermin Aguilar Mendoza</label>
            <br>
            <br>
            <img src="" name="daniel" align="left">
            <label>Daniel Barrón Agundis</label>
            <br>
            <br>
            <img src="" name="joshua" align="left">
            <label>Joshua Ricardo Morales Gutiérrez</label>
            <br>
            <br>
            <img src="" name="ricardo" align="left">
            <label>Ricardo Emmanuel Gutiérrez Bentancourt</label>
        </th>
        <th class="cuadro">
            <img src="/images/logocbtis.jpg" width="200" height="200" align="center">
            <p align="center">Cbtis105</p>
            <p>Centro de Bachillerato Tecnológico industrial y de Servicios</p>
        </th>
        <th class="cuadro">
            <h3>Asesores</h3>
            <label>Samanta Shulamith Bastiani Medina</label> <br>
            <label>Asesor Metodologico</label>
            <br>
            <br>
            <label>Jose Ivan Contreras Lozano</label> <br>
            <label>Asesor Tecnologico</label>
        </th>
    </tr>
</table>