@{
    ViewData["Title"] = "Acerca De Nosotros";
}
<h1 align="center" class="cuadro"><b>P</b>royecto <b>A</b>cademico de <b>M</b>edicina <b>A</b>sistencial, <b>C</b>uidado y <b>E</b>nfoque a la salud con <b>A</b>sistente virtual</h1>

<p class="cuadro-acerca">
    El proyecto PAMACEA es un sitio web dedicado a recopilar información relacionada a la salud para darla a conocer a los jovenes y no tan jovenes
    <br>
    Somos unos Estudiantes del Cbtis 105 creando un portal para informar a los jovenes y no tan jovenes sobre temas relacionados con la salud.
</p>


<div class="contenedor-cards-acerca">

    <div class="card-integrantes">
        <h3>Integrantes</h3>
        <div class="member">Uriel Fermín Aguilar Mendoza</div>
        <small>Metodologia</small>
        <br>
        <div class="member">Daniel Barrón Agundis</div>
        <small>Desarrollador</small>
        <br>
        <div class="member">Joshua Ricardo Morales Gutiérrez</div>
        <small>Diseñador e Investigador</small>
        <br>
        <div class="member">Ricardo Emmanuel Gutiérrez Bentancourt</div>
        <small>Desarrollador y Modelador</small>
    </div>

    <div class="card">
        <img src="/images/logocbtis.jpg" width="130" class="logo">
        <br>
        <p>Cbtis105</p>
        <label>Centro de Bachillerato Tecnológico Industrial y de Servicios</label>
    </div>

    <div class="card-acerca">
        <h3>Asesores</h3>
        <br>
        <div class="asesor">Shulamith Samantha Bastiani Medina<br><small>Asesor Metodológico</small></div>
        <br>
        <div class="asesor">Jose Ivan Contreras Lozano<br><small>Asesor Tecnológico</small></div>
    </div>
<div class="cuadro-acerca">
   <h3>Responsabilidades</h3>
   <p>
   PAMACEA es un proyecto que tiene como proposito informar y dar apoyo sobre temas de salud, esto no reemplaza una cita medica.
    <br>
    SofIA es un asistente virtual que estara como apoyo, pero no reemplaza un doctor real.
    <br>
    Los modelos 3D presentados en el sitio web no son representaciones realistas o 100% fieles a los organos reales humanos.
    <br>
    Ante cualquier duda o síntoma, consulta siempre a un profesional de la salud.
    <br>
    Las respuestas generadas por SofIA pueden no ser completamente precisas y deben usarse solo como apoyo informativo.
    <br>
    Cualquier acción relacionada con tu salud debe realizarse bajo supervisión de un profesional médico.
    <br>
</p></div>    
</div>