@{
    ViewData["Title"] = "Home Page";
}

<table>
    <tr >
        <th><span class="enlace-animado">Enfermedad de temporada</span></th>
        <th><span class="enlace-animado">Anatomia de Niño</span></th>
        <th><span class="enlace-animado">Salud Mental</span></th>
        <th><span class="enlace-animado">Anatomia de Niña</span></th>
        <th><span class="enlace-animado">¿Necesitas Ayuda?</span></th>
        <th><span class="enlace-animado">Acerca de nosotros</span></th>
    </tr>
</table>
