@{
    ViewData["Title"] = "Home Page";
}

<div class="carousel-container">
    <div class="carousel-slide">
        <img src="~/images2/en_trabajo.jpg" alt="Anuncio 1" data-link="https://google.com">
        <img src="~/images2/temporada_invierno.jpg" alt="Anuncio 2" data-link="https://www.gob.mx/issste/articulos/medidas-preventivas-para-el-invierno?idiom=es">
    </div>
    <button id="prevBtn" class="carousel-btn prev-btn">&#10094;</button>
    <button id="nextBtn" class="carousel-btn next-btn">&#10095;</button>
</div>
