.enlace-animado {
    position: relative;
    color: #0c86c3;
    text-decoration: none;
    padding-bottom: 5px;
    display: inline-block;
}

.enlace-animado::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    color: #0c86c3;
    background-color: #0c86c3;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.enlace-animado:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

th {
    padding: 15px 20px;
}

body {
    background: linear-gradient(to bottom, #00ae98 0%, #a3fafe 25%);
    min-height: 100vh;
    background-attachment: fixed;
    margin: 0;
}

/* Carousel Styles */
.carousel-container {
    position: relative;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.carousel-slide {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
    flex-shrink: 0;
    /* Prevent images from shrinking */
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    transition: background-color 0.3s;
    z-index: 10;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}

/* Header and Navigation Styles */
.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.logo-container {
    margin-bottom: 20px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.logo-container:hover {
    transform: scale(1.05);
}

.site-logo {
    height: 100px;
    /* Adjust size as needed */
    width: auto;
}

.main-nav table {
    margin: 0 auto;
}