.enlace-animado {
    position: relative;
    color: #0c86c3;
    text-decoration: none;
    padding-bottom: 5px;
    display: inline-block;
}

.enlace-animado::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    color: #0c86c3;
    background-color: #0c86c3;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.enlace-animado:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

th {
    padding: 15px 20px;
}

body {
    background: linear-gradient(to bottom, #00ae98 0%, #a3fafe 25%);
    min-height: 100vh;
    background-attachment: fixed;
    margin: 0;
}